---
import GithubIcon from "@/icons/Github.astro"
---

<details  class=" block p-1 bg-zinc-800 rounded-full relative" id="user-menu">
    <summary class="list-none">
        <picture class="flex w-8 h-8 rounded-full overflow-hidden group-hover:scale-105 hover:cursor-pointer">
            <img src="/user.png" class="object-cover relative" alt="image of user">
        </picture>
    </summary>
    <ul class="absolute z-20 bg-zinc-800 text-zinc-200 w-48 top-[125%] right-1 p-1 rounded-sm text-sm">
        <li>
            <a href="#" class="flex p-2 hover:bg-white/10 rounded-sm pl-3">Cuenta</a>
        </li>
        <li>
            <a href="#" class="flex p-2 hover:bg-white/10 rounded-sm pl-3 hover:underline">Perfil</a>
        </li>
        <li>
            <a href="#" class="flex p-2 hover:bg-white/10 rounded-sm pl-3 hover:underline">Cambiate a Premium</a>
        </li>
        <li>
            <a href="#" class="flex p-2 hover:bg-white/10 rounded-sm pl-3 hover:underline">Ayuda</a>
        </li>
        <li>
            <a href="#" class="flex p-2 hover:bg-white/10 rounded-sm pl-3 hover:underline">Descargar</a>
        </li>
        <li>
            <a href="#" class="flex p-2 hover:bg-white/10 rounded-sm pl-3 hover:underline">Preferencias</a>
        </li>
        <li>
            <a href="https://github.com/KevinU20221275/spotify-clone" target="_blank" class="flex p-2 gap-2 hover:bg-white/10 rounded-sm pl-3 hover:underline hover:text-green-600">
                Ver codigo en <GithubIcon/>
            </a>
        </li>
        <div class="h-[1px] w-full bg-zinc-700"></div>
        <li>
            <a href="#" class="flex p-2 hover:bg-white/10 rounded-sm pl-3">Cerrar sesion</a>
        </li>
    </ul>
</details>