---
import XIcon from "@/icons/X.astro"
import InstagramIcon from "@/icons/InstagramIcon.astro"
import FacebookIcon from "@/icons/FacebookIcon.astro"
---

<section class="relative p-10 px-6">
    <article class="grid grid-cols-2 lg:grid-cols-5 gap-6 py-10">
        <ul class="flex flex-col gap-2">
            <li class="text-white font-semibold">Compañía</li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Acerca de</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Empleo</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">For the Record</a>
            </li>
        </ul>
        <ul class="flex flex-col gap-2">
            <li class="text-white font-semibold">Comunidades</li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Para artistas</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Desarrolladores</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Publicidad</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Inversionistas</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Proveedores</a>
            </li>
        </ul>
        <ul class="flex flex-col gap-2">
            <li class="text-white font-semibold">Enlaces útiles</li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Ayuda</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">App móvil gratis</a>
            </li>
        </ul>
        <ul class="flex flex-col gap-2">
            <li class="text-white font-semibold">Planes de Spotify</li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Premium Individual</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Premio Duo</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Premium Familiar</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:underline hover:text-zinc-100 transition-all">Versión gratuita</a>
            </li>
        </ul>
        <ul class="flex gap-2">
            <li>
                <a href="#" class="block p-3 bg-zinc-800 rounded-full hover:bg-zinc-500 transition-all"><InstagramIcon/></a>
            </li>
            <li>
                <a href="#" class="block p-3 bg-zinc-800 rounded-full hover:bg-zinc-500 transition-all"><XIcon/></a>
            </li>
            <li>
                <a href="#" class="block p-3 bg-zinc-800 rounded-full hover:bg-zinc-500 transition-all"><FacebookIcon/></a>
            </li>
        </ul>
    </article>

    <div class="h-[1px] bg-zinc-700 w-full"></div>
    
    <article class="py-10 flex justify-between items-center flex-wrap">
        <ul class="flex gap-x-4 flex-wrap">
            <li>
                <a href="#" class="text-zinc-400 hover:text-zinc-100 transition-all text-nowrap text-sm">Legal</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:text-zinc-100 transition-all text-nowrap text-sm">Seguridad y Centro de Privacidad</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:text-zinc-100 transition-all text-nowrap text-sm">Política de Privacidad</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:text-zinc-100 transition-all text-nowrap text-sm">Cookies</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:text-zinc-100 transition-all text-nowrap text-sm">Sobre los anuncios</a>
            </li>
            <li>
                <a href="#" class="text-zinc-400 hover:text-zinc-100 transition-all text-nowrap text-sm">Accesibilidad</a>
            </li>
        </ul>
        <p class="text-zinc-400 text-sm text-nowrap">&copy; Kevin Montano</p>
    </article>
</section>